---
import "../styles/global.css";
import "../styles/fonts.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-stone-100 sm:cursor-none">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Hi，我是孙振宇，英文名Derek，爱好写代码和旅行。目前在澳门大学读研, 与黄满安教授从事先进技术运用于工程领域的研究，主要研究3D点云重建。"
    />
    <meta
      name="keywords"
      content="个人主页, web developer, React, Node.js, JavaScript, TypeScript, 建筑数字化, 点云"
    />
    <meta name="author" content="孙振宇" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cv.kelejun.cn">
    <meta property="og:title" content="孙振宇 | RATE@UM成员">
    <meta property="og:description" content="Experienced full stack engineer specializing in scalable web applications. Check out my portfolio and let's build something amazing together!">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="canonical" href="https://cv.kelejun.cn">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/R.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script src="../scripts/main.ts"></script>
  </body>
</html>
